*{
    login-background: rgba(37, 35, 35, 0.93);
    header-text: #ffffff;
    sub-text: #ff6c00;
    text-in-button: WHITE;
    login-button:  #00A1F5;
    register-button: #FA7344;
    on-hover: #dd9cff;
    invalid-input-notification: #f2e205;

    /* ในโปรแกรม */
    main-background: linear-gradient(#ff7400, #a11d1d, #000000);
    sub-background: #525252;
    market-place-background: #2f2e2e;
    category-hover: #cbcbcb;
    light-text-color: #ff0000;
    light-button-color: WHITE;
    light-header-text: #ffffff;
    line-color: WHITE;
    contrast-button: #d7d7d7;
    button-background: #C7192DFF;
    button-text: WHITE;
    product-card-backgroud: #f16622;
    card: #f2a74b;
    text-in-card: #ff0000;
    description-in-card: BLACK;
    notification-icon: #590202;
}