*{
    login-background: #090126;
    header-text: #f8f8f8;
    sub-text: #7c7c7c;
    text-in-button: WHITE;
    login-button: #800ff2;
    register-button: #FA7344;
    on-hover: #ffd60a;
    invalid-input-notification: #ffd60a;

    /* ในโปรแกรม */
    main-background: linear-gradient(#361A73 ,#090126, #000000);
    sub-background: #8c65ab;
    market-place-background: #a8a8a8;
    category-hover: #a1a1a1;
    light-text-color: #ff0000;
    light-button-color: WHITE;
    light-header-text: WHITE;
    line-color: WHITE;
    contrast-button: #d7d7d7;
    button-background: #361A73FF;
    button-text: WHITE;
    product-card-backgroud: #7394bf;
    card: #272C4AFF;
    text-in-card: #ffd60a;
    description-in-card: #ffffff;
    notification-icon: #090126;
}