.border-color{
    -fx-background-color: linear-gradient(#c7192d, #000000);
}

.white-background{
    -fx-background-color: #fff;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout{
    -fx-border-radius: 50;
    -fx-border-color: #D7D7D7;

}

.round-grey-background{
    -fx-background-color: #D7D7D7;
    -fx-background-radius: 50;
}

.round-white-background{
    -fx-background-color: #fff;
    -fx-background-radius: 50;
}

.selected{
    -fx-background-color: #F3F3F3;
}

.mouse-move:hover{
    -fx-background-color: #E4E4E4;
}

.round-white-background01{
    -fx-background-color: #fff;
    -fx-background-radius: 35;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0), 10, 0, 0, 10);
}


